*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    background: url(./img/bgimg.jpg) fixed no-repeat ;
    background-size: cover;
}

.card{
    box-shadow: 2px 2px 10px #000;
    background: rgba(0, 0, 0, .5) !important;   
}
header{
    padding: 0.5rem;

}
header h1{
    letter-spacing: 15px;

}